<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dtd文件的导入，就是为了下面这些标签。必须导入 -->
<!--xml 文件名必须和接口名一样-->
<!--namespace属性的值是有规范的，必须是包名加上类名-->
<mapper namespace="site.suimu.mapper.QianMemoryMapper">

    <!-- type 属性的值是实体类类名，可以直接写类名不加包名，例如 ChengPeople ，但是仅限于 pojo 包下的类，做了别名配置。否则必须是别名加上包名 -->
    <resultMap id="json" type="net.sf.json.JSONObject">
        <id property="id" column="Mem_id"></id>
        <result property="phone" column="user_phone"></result>
        <result property="name" column="Mem_name"></result>
        <result property="brand" column="Mem_brand"></result>
        <result property="price" column="Mem_price"></result>
        <result property="type" column="Mem_type"></result>
        <result property="suittype" column="Mem_suitType"></result>
        <result property="account" column="Mem_account"></result>
        <result property="MHZ" column="Men_MHZ"></result>
        <result property="aircooling" column="Mem_aircooling"></result>
        <result property="img" column="Mem_img"></result>
    </resultMap>

    <!-- 快捷键 alt+/ 可以看到很多标签，一个标签对应接口的一个方法，id属性的值必须是方法名 ,resultMap 属性的值是对应 resultMap 标签的 id -->
    <select id="selectAll"  resultMap="json">
        select * from qian_Memory where 1=1
        <choose>
            <when test="Mem_name !=null and Mem_name !=''">
                and Mem_name = #{name}
            </when>

            <when test="Mem_brand !=null and Mem_brand !=''">
                and Mem_brand = #{brand}
            </when>

            <when test="Mem_price !=null and Mem_price !=''">
                and Mem_price = #{price}
            </when>

            <when test="Mem_type !=null and Mem_type !=''">
                and Mem_type=#{type}
            </when>

            <when test="Mem_suitType !=null and Mem_suitType !=''">
                and Mem_suitType =#{suittype}
            </when>

            <when test="Mem_account !=null and Mem_account!=''">
                and Mem_account=#{account}
            </when>

            <when test="Mem_MHZ !=null and Men_MHZ !=''">
                and Mem_MHZ =#{MHZ}
            </when>

            <when test="Mem_aircooling !=null and Mem_aircooling !=''">
                and Mem_aircooling=#{aircooling}
            </when>
        </choose>
    </select>

    <insert id="insertQianMemory" parameterType= "QianMemory">
        insert into qian_Memory (user_phone,Mem_name,Mem_brand,Mem_price, Mem_type,Mem_suitType,Mem_account,Men_MHZ,Mem_aircooling,Mem_img)
    	values(#{phone},#{name},#{brand},#{price},#{type},#{suittype},#{account},#{MHZ},#{aircooling},#{img})
    </insert>

    <update id="updateQianMemory" parameterType= "QianMemory">
       update qian_Memory set Mem_brand = #{brand}, Mem_price = #{price}, Mem_suitType=#{suittype},Mem_account=#{account}, Mem_type=#{type}
            Men_MHZ=#{MHZ}, Mem_aircooling=#{aircooling},Mem_img=#{img}
    </update>

    <delete id="deleteQianMemoryById">
delete from qian_Memory where user_phone=#{phone}and Mem_id=#{id}
    </delete>
</mapper>